{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

<div class= "row justify_content-center">
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <img src="{{pin.image.url}}" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
    
        <h4>{{pin.title}}</h4>
        <h6>Posted By: {{pin.user}}</h6>
        <p>{{pin.description}}</p>
        <div class="row justify-content-center">
            <a href="#" class="btn btn-outline-danger mx-2">Update</a>
            <a href="#" class="btn btn-danger mx-2">Delete</a>
        </div>
    </div>
</div>
{% endblock content %}