.bg-image {
    background-image: url(https://about.pinterest.com/sites/about/files/homepage_template_lrg_bkgd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    height: 100vh;
}

.bg-image h1 {
    font-size: 2rem;
}

.card-link:hover {
    color: #290107;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-link>img:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.test-light {
    text-decoration: none;
}

.btn-rounded {
    border-radius: 20px!important;
}

.input-rounded {
    border-radius: 15px!important;
    font-size: medium!important;
}

#password:hover {
    text-decoration: none;
}