{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                    </div>
                </div>
            </div>
            <div class="bg-image">
                <div class="container-fluid">
                    <div class="column justify-content-center text-light">
                        <div class="col-lg-6 col-md-8 col-sm-12 mr-auto pt-5">
                                <h4 class="about font-weight-bold mt-5">WELCOME TO VISUAL DISCOVERY</h4>
                                <h1 class="about font-weight-bold mt-3">When it comes to a great idea, you know it when you see it</h1>
                                <div class="about-button btn btn-danger btn-lg mt-4 ml-3">
                                    <a href="https:www.pintrest.com/" class="text-light">Join Pintrest</a>
                                </div>
                        
                        </div>
                    </div>
                </div>
            </div>
                    
                    <div class="container-fluid">
                        <h6 class="md-3">What's new at Pintrest</h4>
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <a href="" class="card-link">
                                    <img class="img-fluid rounded" src="https://about.pinterest.com/sites/about/files/spark_02.jpg" alt="pintrest">

                                    <small class="font-weight-bold">The Pintrest Spark</small>
                                    <p>Watch them go from first date to new digs</p>
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <a href="" class="card-link">
                                    <img class="img-fluid rounded" src="https://about.pinterest.com/sites/about/files/meet-lens-small.jpg" alt="pintrest">

                                    <small class="font-weight-bold">Meet Lens</small>
                                    <p>Point. Tap. Discover ideas!</p>
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <a href="" class="card-link">
                                    <img class="img-fluid rounded" src="https://about.pinterest.com/sites/about/files/web-buy-it-portal-tile2x.jpg" alt="pintrest">

                                    <small class="font-weight-bold">Shopping with Pintrest</small>
                                    <p>Another way to bring ideas to life</p>
                                </a>
                            </div>
                        </div>
                    </div>

{% endblock %}