{% extends 'layouts/base.html' %}

{% block content%}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 text-center">
            <h1>Get your next</h1>
            <h1 class="text-warning">weeknight dinner idea</h1>
        </div>

    </div>
    <div class="row">
        {% for pin in pins%}
            <a href="{% url 'pin.image' %}">
            <img src="{{pin.image.url}}" width="100px" class="btn-rounded" style="object-fit: cover;">
            </a>
        {% endfor %}
        
    </div>

    <p class="font-weight-bold">My first pin</p>

</div>

{% endblock %}
