{% extends 'layouts/base.html' %}

{% load static %}

{% block content%}

<div class="container justify-content-center d-flex">
    <div class="card shadow mt-5 p-3 bg-white w-100" style="border-radius:2%;">
        <div class="row">
            <div class="col-sm-6">
                <img class="w-100 float-start" src="{% static 'images/Nike.jpg' %}" style="border-radius:3%;">
            </div>
            <div class="col-sm-6 p-3">
                <div class="d-flex flex-row">
                    <i class="fa fa-ellipsis-h fa-lg p-2 font-weight-bold" aria-hidden="true"></i>
                    <i class="fa fa-upload fa-lg p-2 font-weight-bold" aria-hidden="true"></i>
                    <i class="fa fa-clone fa-lg p-2 font-weight-bold" aria-hidden="true"></i>
                    <button class="btn btn-danger btn-rounded ml-auto">Save </button>
                </div>

                <a href="#" class="" style="color:black; text-decoration:underline;">thecustommovement.com</a>
                <a href="#" style="color:black; text-decoration:none;">
                    <h1 class="font-weight-bold mt-2">Exclusive Custom Nike Air Force 1 (Free UPS worldwide shipping )</h1>
                </a>
                <p>Are you looking for your perfect summer shoes? This might be exactly what you are looking for! 😃</p>
                <hr size="3", color=black> 
                <p>
                    100% Hand-painted (no stencils) All products painted…<br>
                    <span class="font-weight-bold">More</span>
                </p>
                <div class="d-flex flex-row">
                    <img class="w-25" style="border-radius:4%" src="{% static 'images/avatar.png' %}">
                    <div class="d-flex flex-row">
                        <p class="font-weight-bold mt-4">Air force 1 custom</p>
                        <p>50.4k followers</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
        
        
        </div>
    </div>


</div>

{% endblock content %}