<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <div class="row justify-content-center my-3">
            <img style="max-width:150px" src="https://about.pinterest.com/sites/all/themes/custom/pinterest/images/pinterest-footer-logo.png?e60023">
        </div>

        <div class="row justify-content-center my-5">
          <small class="font-weight-bold">
            <select class="mdb-select md-form custom-select-lg mb-3">
              <option selected>English</option>
              <option value="en-gb">English UK</option>
              <option value="id">Bahasa Indonesia</option>
              <option value="cs">Česky</option> 
              <option value="da">Dansk</option>
              <option value="de">Deutsch</option>
              <option value="es">Español</option>
              <option value="fr">Français</option>
              <option value="it">Italiano</option>
              <option value="hu">Magyar</option>
              <option value="ms">Malay</option>
              <option value="nb">Norsk (Bokmål)</option>
              <option value="nl">Nederlands</option>
              <option value="pl">Polski</option>
              <option value="pt-br">Português, Brasil</option>
              <option value="pt-pt">Português, Portugal</option>
              <option value="ro">Română</option>
              <option value="sk">Slovenčina</option>
              <option value="fi">Suomi</option>
              <option value="sv">Svenska</option>
              <option value="tl">Tagalog</option>
              <option value="vi">Tiếng Việt</option>
              <option value="tr">Türkçe</option>
              <option value="ru">Русский</option>
              <option value="uk">Українська</option>
              <option value="el">Ελληνικά</option>
              <option value="th">ไทย</option>
              <option value="hi">हिन्दी</option>
              <option value="ko">한국어 (Korean)</option>
              <option value="ja">日本語</option>
            </select>
          </small>
        </div>


        <div class="footer-copyright text-center py-3">
          <small class="font-weight-bold">© Pintrest 2021:</small>
        </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">About us</h5>
        <small>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark mt-2">What's Pinterest</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Our Pinterest page</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Engineering blog</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Brand guidelines</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Careers</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Help Center</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Pinterest Labs</a>
          </li>
        </ul>
        </small>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Our policies</h5>
        <small>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark mt-2">Copyright & trademark</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Personalized ads</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Terms of service</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Privacy & cookies</a>
          </li>
        </ul>
        </small>

        <h5 class="text-uppercase font-weight-bold">More info</h5>
        <small>
        <ul class="list-unstyled">
          <li>
            <a href="#!"class="text-dark mt-2">For businesses</a>
          </li>
          <li>
            <a href="#!" class="text-dark">For developers</a>
          </li>
          <li>
            <a href="#!" class="text-dark">For press</a>
          </li>
          <li>
            <a href="#!" class="text-dark">For investors</a>
          </li>
        </ul>
        </small>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<!-- Footer -->