<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <div class="row justify-content-center my-3">
            <img style="max-width:100px" src="https://about.pinterest.com/sites/all/themes/custom/pinterest/images/pinterest-footer-logo.png?e60023">
        </div>

        <div class="row justify-content-center my-5">
            <small class="font-weight-bold">
                <select class="mdb-select md-form custom-select-lg mb-3">
                <option selected>English</option>
                <option value="2">English UK</option>
                <option value="3">Bahasa Indonesia</option>
                <option value="4">Česky</option>
                <option value="5">Dansk</option>
                <option value="6">Deutsch</option>
                <option value="7">Español</option>
                <option value="8">Français</option>
                <option value="9">Italiano</option>
                <option value="10">Magyar</option>
                <option value="11">Malay</option>
                <option value="12">Norsk (Bokmål)</option>
                <option value="13">Nederlands</option>
                <option value="14">Polski</option>
                <option value="15">Português, Brasil</option>
                <option value="16">Português, Portugal</option>
                <option value="17">Română</option>
                <option value="18">Slovenčina</option>
                <option value="19">Suomi</option>
                <option value="20">Svenska</option>
                <option value="21">Tagalog</option>
                <option value="22">Tiếng Việt</option>
                <option value="23">Türkçe</option>
                <option value="24">Русский</option>
                <option value="25">Українська</option>
                <option value="26">Ελληνικά</option>
                <option value="27">ไทย</option>
                <option value="28">हिन्दी</option>
                <option value="29">한국어 (Korean)</option>
                <option value="30">日本語</option>
            </select>
            </small>
        </div>


        <div class="footer-copyright text-center py-3">
          <small class="font-weight-bold">© Pintrest 2021:</small>
        </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">About us</h5>
        <small>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark mt-2">What's Pinterest</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Our Pinterest page</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Engineering blog</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Brand guidelines</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Careers</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Help Center</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Pinterest Labs</a>
          </li>
        </ul>
        </small>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Our policies</h5>
        <small>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark mt-2">Copyright & trademark</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Personalized ads</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Terms of service</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Privacy & cookies</a>
          </li>
        </ul>
        </small>

        <h5 class="text-uppercase font-weight-bold">More info</h5>
        <small>
        <ul class="list-unstyled">
          <li>
            <a href="#!"class="text-dark mt-2">For businesses</a>
          </li>
          <li>
            <a href="#!" class="text-dark">For developers</a>
          </li>
          <li>
            <a href="#!" class="text-dark">For press</a>
          </li>
          <li>
            <a href="#!" class="text-dark">For investors</a>
          </li>
        </ul>
        </small>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<!-- Footer -->