<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-danger font-weight-bold " href="{% url 'home' %}">
            <img style="max-width:150px" src="https://about.pinterest.com/sites/all/themes/custom/pinterest/images/pinterest-footer-logo.png?e60023">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto font-weight-bold">
            <li class="nav-item active">
                <a class="nav-link mx-3" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-3" href="#">Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-3" href="#">Blog</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-danger btn-rounded mx-2" href="#">Welcome {{user.username|title}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu btn-rounded dropdown-menu-right wider-dropdown" aria-labelledby="navbarDropdown">
                        <small class="ml-3">Currently in</small>
                    <a class="dropdown-item" href="#">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2 my-auto">
                                    <button class="btn btn-light btn-sm rounded-button font-weight-bold">{{user.username|make_list|first|title}}</button>
                                </div>
                                <div class="col-10">
                                    <p class="my-o text-dark font-weight-bold">{{user.username}}</p>
                                    <small class="my-0 text-secondary">Personal</small><br>   
                                    <small class="my-0 text-secondary">{{user.email}}</small>                             
                                </div>
                            </div>
                        
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>

                    <small class="ml-3 mt-5">Your Accounts</small>

                    <a class="dropdown-item text-dark font-weight-bold" href="#">Add Account</a>
                    <a class="dropdown-item text-dark font-weight-bold" href="#">Convert to business</a>
                    <div class="dropdown-divider"></div>

                    <small class="ml-3 mt-5">More Options</small>

                
                    <a class="dropdown-item text-dark font-weight-bold" href="#">Settings</a>
                    <a class="dropdown-item text-dark font-weight-bold" href="#">Tune your home feed</a>
                    <a class="dropdown-item text-dark font-weight-bold" href="#">Install the windows app</a>
                    <a class="dropdown-item text-dark font-weight-bold" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="btn btn-danger btn-rounded rounded-pill mx-3 font-weight-bold"data-toggle="modal" data-target="#LoginModal" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light btn-rounded mx-3 font-weight-bold" data-toggle="modal" data-target="#exampleModal" href="#">Sign Up</a>
                </li>
            </ul>
            {% endif %}
        </div>
</nav>