<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex flex-row">
        <a class="navbar-brand text-danger font-weight-bold" href="{% url 'home' %}">
            <i class="fa fa-pinterest fa-lg text-danger"></i>
        </a>
        <input class="form-control input-rounded bg-light d-lg-none mx-auto" placeholder="Search" type="search">
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto font-weight-bold">
            <li class="nav-item active">
                <a class="btn btn-black btn-rounded mx-3"href="#"> Home <span class="sr-only">(current)</span></a>
              </li>
        </ul>
        <input class="form-control input-rounded bg-light d-md-inline d-none " placeholder="Search" type="search">
      <ul class="navbar-nav ml-auto font-weight-bold">
        <li class="nav-item">
          <a class="nav-link mx-3" href="#"><i class="fa fa-bell fa-lg"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="#"><i class="fa fa-commenting fa-lg"></i></a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light font-weight-bold  btn-lg mx-2" href="#">{{user.username|make_list|first|title}}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu btn-rounded dropdown-menu-right wider-dropdown" aria-labelledby="navbarDropdown">
                <small class="ml-3">Currently in</small>
              <a class="dropdown-item" href="#">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-2 my-auto">
                              <button class="btn btn-light btn-sm rounded-button font-weight-bold">{{user.username|make_list|first|title}}</button>
                            </div>
                          <div class="col-10">
                              <p class="my-0 text-dark font-weight-bold">{{user.username}}</p>
                              <small class="my-0 text-secondary">Personal</small><br>
                              <small class="my-0 text-secondary">{{user.email}}</small>
                          </div>
                      </div>
                  </div>
              </a>
              <div class="dropdown-divider"></div>
              <small class="ml-3 mt-5">Your accounts</small>
              <a class="dropdown-item text-dark font-weight-bold" href="#">Add account</a>
              <a class="dropdown-item text-dark font-weight-bold" href="#">Convert to business</a>
              <div class="dropdown-divider"></div>
              <small class="ml-3 mt-5">More options</small>
              <a class="dropdown-item text-dark font-weight-bold" href="#">Settings</a>
              <a class="dropdown-item text-dark font-weight-bold" href="#">Tune your home feed</a>
              <a class="dropdown-item text-dark font-weight-bold" href="#">Install the windows app</a>
              <a class="dropdown-item text-dark font-weight-bold" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
      </ul>
  </nav>